{{#link-to 'article-view' article.id}}
<div class='story-box col-xs-4'>
  <p><img src={{article.image}} class="image-tile"></p>
  <p>{{article.title}}</p>
  <div class='author'>
    <p>{{article.author}}</p>
  </div>
</div>
{{/link-to}}
