.header-link{
  display: inline-block;
  margin-left: 15px;
}
.header-links{
  margin-left: 20%;
}
.header{
  margin-left: 20px;
  display: inline-block;
}
.title{
  margin-right: 15%;
  left: 0px;
}
.story-box{
  padding-left: 5px;
  padding-right: 5px;
}
img{
  max-width: 100%;
}
.author{
  border-top: solid lightgrey 1px;
  padding-top: 5px;
  color: grey;
}
