body {
  font-family: 'Montserrat', sans-serif;
}
.header-link{
  display: inline-block;
  margin-left: 15px;
  color: black;
}
.header-links{
  margin-left: 10%;
  padding-top: 30px;
  padding-bottom: 5px;
}
.header{
  display: inline-block;
}
a{
  color: black;
}
.title{
  margin-right: 10%;
  left: 0px;
  font-size: 18pt;
}
.story-box{
  padding-left: 5px;
  padding-right: 5px;
  max-width: 40%;
  /*max-height: 250px;*/
}
.image-tile{
  width: 100%;
  height: 255px;
}
.author{
  border-top: solid lightgrey 1px;
  padding-top: 5px;
  color: grey;
}
.myFooter{
  text-align: center;
}
.jumbotron{
  height: 500px;
}
.caro-display{
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.container{
  align-items: center;
}
.caro-img{
  height:400px;
  width:800px;
}
img {
  border-radius: 10px;
}
