
<div class='header-links'>
  <p class='header-link title'>
    {{#link-to 'index'}}BUSTLE{{/link-to}}
  </p>
  <p class='header-link'>
    NEWS
  </p>
  <p class='header-link'>
    ENTERTAINMENT
  </p>
  <p class='header-link'>
    FASHION & BEAUTY
  </p>
  <p class='header-link'>
    LIFESTYLE
  </p>
  <p class='header-link'>
    BOOKS
  </p>
  <p class='header-link'>
    EXPLORE
  </p>
  <p class='header-link' >
    {{#link-to 'about'}} ABOUT {{/link-to}}
  </p>
</div>
<div class='container'>
  {{outlet}}
</div>
