
<div class='header-links'>
  <p class='header-link title'>
    {{#link-to 'index'}}BUSTLE{{/link-to}}
  </p>
  <p class='header-link'>
    {{#link-to 'news-page'}}NEWS{{/link-to}}
  </p>
  <p class='header-link'>
    {{#link-to 'entertainment-page'}}ENTERTAINMENT{{/link-to}}
  </p>
  <p class='header-link'>
    {{#link-to 'fashion-page'}}FASHION{{/link-to}}
  </p>
  <p class='header-link'>
    {{#link-to 'lifestyle-page'}}LIFESTYLE{{/link-to}}
  </p>
  <p class='header-link' >
    {{#link-to 'about'}} ABOUT {{/link-to}}
  </p>
</div>
<div class='container'>
  {{outlet}}
</div>
<footer class="myFooter">
  {{#link-to 'new-article'}}ADD AN ARTICLE{{/link-to}}
</footer>
