
<header class='header-links'>
  <p class='header-link title'>
    {{#link-to 'index'}}<span class='link'>BUSTLE</span>{{/link-to}}
  </p>
  <p class='header-link'>
    {{#link-to 'news-page'}}<span class='link'>NEWS</span>{{/link-to}}
  </p>
  <p class='header-link'>
    {{#link-to 'entertainment-page'}}<span class='link'>ENTERTAINMENT</span>{{/link-to}}
  </p>
  <p class='header-link'>
    {{#link-to 'fashion-page'}}<span class='link'>FASHION</span>{{/link-to}}
  </p>
  <p class='header-link'>
    {{#link-to 'lifestyle-page'}}<span class='link'>LIFESTYLE</span>{{/link-to}}
  </p>
  <p class='header-link' >
    {{#link-to 'about'}}<span class='link'> ABOUT </span>{{/link-to}}
  </p>
</header>
<div class='container'>
  {{outlet}}
</div>
<footer class="myFooter">
  {{#link-to 'new-article'}}ADD AN ARTICLE{{/link-to}}
</footer>
